<html lang="en">
<head>
  {% block head %}
<title>
  {% if title %} {{ title }} {% else %} Stocks {% endif %}
</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='theme/favicon.ico')}}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{{ url_for('static', filename='theme/assets/vendor/slick-carousel/slick/slick.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='theme/assets/vendor/font-awesome/css/fontawesome-all.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='theme//assets/vendor/hs-megamenu/src/hs.megamenu.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='theme/assets/vendor/chartist/dist/chartist.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='theme/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css')}}">
<!-- CSS Front Template, This always goes last -->
<link rel="stylesheet" href="{{ url_for('static', filename='theme/assets/css/theme.css')}}">

{% endblock head %}
</head>
{% block header %}
<header id="header" class="u-header">
  <div class="u-header__section">
    <div id="logoAndNavWithDropdown" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="{{ url_for('main.index')}}" aria-label="Front">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46px" height="46px" viewBox="0 0 46 46" xml:space="preserve" style="margin-bottom: 0;">
            <path fill="#3F7DE0" opacity=".65" d="M23,41L23,41c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18h11.3C38,5,41,8,41,11.7V23C41,32.9,32.9,41,23,41z"/>
            <path class="fill-info" opacity=".5" d="M28,35.9L28,35.9c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18l11.3,0C43,0,46,3,46,6.6V18C46,27.9,38,35.9,28,35.9z"/>
            <path class="fill-primary" opacity=".7" d="M18,46L18,46C8,46,0,38,0,28v0c0-9.9,8-18,18-18h11.3c3.7,0,6.6,3,6.6,6.6V28C35.9,38,27.9,46,18,46z"/>
            <path class="fill-white" d="M17.4,34V18.3h10.2v2.9h-6.4v3.4h4.8v2.9h-4.8V34H17.4z"/>
          </svg>
          <span class="u-header__navbar-brand-text">candlestick.io</span>
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBarWithDropdown"
                data-toggle="collapse"
                data-target="#navBarWithDropdown">
          <span id="hamburgerTriggerWithDropdown" class="u-hamburger__box">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBarWithDropdown" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Link -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="#">Markets</a>
            </li>
            <!-- End Link -->

            <!-- Link -->
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="#">Industries</a>
            </li>
            <!-- End Link -->

           <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="click"
              data-animation-in="slideInUp"
              data-animation-out="fadeOut">
            <a id="dropdownMegaMenuWithDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="dropdownSubMenuWithDropdown">Watchlist</a>

            <!-- Dropdown - Submenu -->
            <ul id="dropdownSubMenuWithDropdown" class="hs-sub-menu u-header__sub-menu" aria-labelledby="dropdownMegaMenuWithDropdown" style="min-width: 230px;">
              {% if current_user.is_authenticated %}
              <li><a class="nav-link u-header__sub-menu-nav-link" href="#">Action</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="#">Another action</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="#">Something else here</a></li>
              {% else %}
              {% for ticker in watchlist %}
              <li><a class="nav-link u-header__sub-menu-nav-link" href="{{ url_for('stock.stock', ticker=ticker)}}">{{ ticker }}</a></li>
              {% endfor %}
              {% endif %}
              <!-- End Submenu -->
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->

            <!-- Button -->
            <li class="nav-item u-header__nav-last-item">
              <a class="btn btn-sm btn-primary transition-3d-hover" href="{{ url_for('auth.login') }}">
                Login
              </a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
{% endblock header %}
<body>
{% block content %}
<div class="container space">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissable fade-show" role="alert">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
</div>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}

        {% endblock %}
{% endblock content %}
</body>
{% block footer %}
<!-- ========== FOOTER ========== -->
<footer class="position-relative text-center mx-auto">
  <!-- Go To Top -->
  <a class="js-go-to" href="javascript:;"
     data-type="absolute"
     data-position='{
       "bottom": 86,
       "right": 0,
       "left": 0
     }'
     data-compensation="#header"
     data-show-effect="slideInUp"
     data-hide-effect="slideOutDown">

    <!-- SVG Wave Shape -->
    <figure class="u-go-to-wave ie-go-to-wave">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 208 44" style="margin-bottom: -32px; enable-background:new 0 0 208 44;" xml:space="preserve">
        <path class="fill-primary" d="M0,43c0,0,22.9,2.2,54-18.7S95.1,1.5,95.1,1.5s11.2-3.5,20.1,0.1s10.4,3.7,19.2,9.3c7.7,4.8,15,10.1,22.8,14.9
          c10.1,6.2,21.5,11.7,33,14.8C191.6,41,208,44,208,43c0,0,0,1,0,1H0V43z"/>
      </svg>

      <span class="fas fa-angle-double-up text-white u-go-to-wave__icon"></span>
    </figure>
    <!-- End SVG Wave Shape -->
  </a>
  <!-- End Go To Top -->

  <div class="bg-primary">
    <div class="container space-1">
      <p class="small text-white-70 mb-0">© Front. 2018 Htmlstream. All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
{% endblock footer %}
{% block scripts %}
<!--- JS Global Compulsory --------->
<script src="{{ url_for('static', filename='theme/assets/vendor/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='theme/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js')}}"></script>
<script src="{{ url_for('static', filename='theme/assets/vendor/popper.js/dist/umd/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='theme/assets/vendor/bootstrap/bootstrap.min.js')}}"></script>
<!--- End JS Global --------------->

<!--- JS Implementing Plugins --------->
<!-- MegaMenu -->
<script src="{{ url_for('static', filename='theme/assets/vendor/hs-megamenu/src/hs.megamenu.js')}}"></script>
<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='theme/assets/vendor/chartist/dist/chartist.min.js')}}"></script>
<script src="{{ url_for('static', filename='theme/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.js')}}"></script>

<!--- End JS Plugins --------->

<!--- JS Front ------------>
<script type="text/javascript" src="{{ url_for('static', filename='theme/assets/js/hs.core.js')}}"></script>
  <!-- Header NAVBAR -->
<script type="text/javascript" src="{{ url_for('static', filename='theme/assets/js/components/hs.header.js')}}"></script>
  <!-- Unfold component -->
<script type = "text/javascript" src="{{ url_for('static', filename='theme/assets/js/components/hs.unfold.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='theme/assets/js/components/hs.go-to.js')}}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='theme/assets/js/components/hs.chartist-area-chart.js')}}"></script>
<!--- End JS Front ---------->

<!--JS Plugins Init ---------->
<script type="text/javascript">
  $(document).on('ready', function () {
    // initialization of header and navbar
    $.HSCore.components.HSHeader.init($('#header'));
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));
    $.HSCore.components.HSChartistAreaChart.init($('.js-area-chart'));
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');
  });

  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'click',
      pageContainer: $('.container'),
      breakpoint: 767.98,
      hideTimeOut: 0
    });
  });

</script>
{% endblock scripts %}
<!-- End JS Plugins Init -->
</html>
